.SkilsMe .leftskills {
    background-image: 
     url("/images/Rectangle 24.png"),
     url("/images/Rectangle 24.png"),
     url("/images/Logo.png"),
     url("/images/Dots.png");
    background-repeat: no-repeat;
    background-position: top, right ,bottom,left;
    width: 100%;
    height: 300px;  
}
.skill-box {
  background: transparent;
  border: 1px solid white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: 0.5s ease-in-out;
  position: relative;
  overflow: hidden;  
}
 
.skill-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #8e00ff;
  z-index: -1;
  transition: 0.5s ease-in-out;
  color: white;
}

.skill-box:hover::before {
  width: 100%;
}
.skill-box:hover{
  transform: translateY(10px );
}
  
  .skills-list .skill-box h5 {
    margin-bottom: 5px;
    color: white;
    border-bottom: 2px solid #8e00ff;
    padding-bottom: 10px ;
  }
  .skills-list .skill-box p{
    color: #dbd1d1;
  }